<h1>All urls</h1>

<% @urls.each do |url| %>
    <li>
      <%= url.link %>
      <%= url.random_string %>
      <%= url.my_string %> 
    </li>

    <button class="btn btn-warning">Update</button>
<% end %>