<h1>All urls</h1>

<% @urls.each do |url| %>
    <li>
      Link: <%= url.link %></br>
      Shortened url: <%= url.random_string %></br>
      Link nickname: <%= url.my_string %> </br>
    </li>

    
<% end %>