<h1>Enter a URL to shorten and give it a custom nickname:</h1> </br> 

<form action="/urls" method="post">
	<p>Enter the link:</p><input type="text" name="url[link]"></br>
	<p>Give it a nickname:</p><input type="text" name="url[my_string]"></br></br>

    <%= token_tag form_authenticity_token %>

    <button> Generate random code </button>
</form>